<div class="page">
    <div class="container header-top-container">
        <div class="header-top">
            <a style="cursor: pointer;" (click)="goBack()"><img src="../../../assets/arrow-left.svg" alt=""> <span class="toBack">Geri Qayıt</span></a> 
            <div class="search-box">
                <input type="text" (keyup)="filterCountry()" #search [(ngModel)]="filteredInput">
                <div [class.remove]="!inputClicked && !boxClosed" #searchResult class="search-result">
                    <ng-container *ngFor="let item of filteredCounties">
                        <a routerLink="/city/{{item[0]}}" class="item">
                            {{item[1].name}}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="weather-content">
      <div class="container">
        <div *ngIf="todayWeather">
            <div class="weather-top">
                <div class="top-left">
                        <div class="top-left-img">
                            <img src="https://openweathermap.org/img/wn/{{todayWeather.weather[0].icon}}@2x.png" alt="İcon">
                            <p>{{math.round(todayWeather.main.temp - 273.15)}} <sup>°C</sup></p>
                        </div>
                    <span>{{todayWeather.weather[0].description}}</span>
                    <select (change)="changeWeatherMod(selectValue.value)" #selectValue class="change-mod">
                        <option [value]="['temp', '#bcad32']">Tempratur</option>
                        <option [value]="['feels_like', '#bcad32']">Hiss olunn</option>
                        <option [value]="['humidity', '#FFFFFF']">Nəm</option>
                        <option [value]="['pressure', '#96b2e4']">Külək səviyyəsi</option>
                    </select>
                </div>
                <div class="top-right">
                    <p>{{country[1].name}}</p>
                    <span>{{todayWeather.dt_txt}}</span>
                </div>  
            </div>
            <div class="chart-box">
                <app-chart [wrapper]="chartDataAndLabels"></app-chart>
            </div>
            <div class="five-day-forecast-wrapper">
                <div class="item first">
                    10 günlük proqnoz
                </div>
                <ng-container *ngFor="let item of eightDayWeather">
                    <div class="item" (click)="changeTime(item.dt_txt)">
                        <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png" alt="İcon">
                        <span>{{ item.dt_txt | date:'EEEE' }}</span>
                        <span>{{math.round(item.main.temp - 273.15)}} °C</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!todayWeather" class="loading-box">
            <div class="container">
                <div class="wrapper">
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                   <div class="loader">
                      <div class="dot"></div>
                   </div>
                </div>
             </div>
       
        </div>
        </div> 
    </div>
</div>