<div class="page">
    <div class="container header-top-container">
        <div class="header-top">
            <a routerLink="/cities"><img src="../../../assets/arrow-left.svg" alt=""> <span class="toBack">Geri Qayıt</span></a> 
            <div>
                <input type="text" (keyup)="filterCountry()" [(ngModel)]="filteredInput">
                <div *ngIf="filteredInput.length != 0" class="search-result">
                    <ng-container *ngFor="let item of filteredCounties">
                        {{item[1].name}} <br>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="weather-content">
      <div class="container">
        <div *ngIf="countryWeather">
            <div class="weather-top">
                <div class="top-left">
                        <div class="top-left-img">
                            <img src="https://openweathermap.org/img/wn/{{countryWeather.weather[0].icon}}@2x.png" alt="İcon">
                            <p>{{math.round(countryWeather.main.temp - 273.15)}} <sup>°C</sup></p>
                        </div>
                    <span>{{countryWeather.weather[0].main}}</span>
                </div>
                <div class="top-right">
                    <p>{{country[1].name}}</p>
                    <span>{{countryWeather.dt_txt}}</span>
                </div>  
            </div>
            <div class="chart-box">
                <app-chart [wrapper]="chartDataAndLabels"></app-chart>
            </div>
            <div class="five-day-forecast-wrapper">
                <ng-container *ngFor="let item of allDayWeather">
                    <div class="item" (click)="changeTime(item.dt_txt)">
                        <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png" alt="İcon">
                        <span>{{math.round(item.main.temp - 273.15)}} °C</span>
                        <span>{{item.dt_txt.slice(6, 11)}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!countryWeather" class="loading-box">
            <div class="loader">Loading...</div>
        </div>
        </div> 
    </div>
</div>